# DO NOT CHANGE the "init" and "install" sections below

# Download script file from GitHub
init:
  ps: |
        $ErrorActionPreference = "Stop"
        Invoke-WebRequest http://raw.github.com/krlmlr/r-appveyor/master/scripts/appveyor-tool.ps1 -OutFile "..\appveyor-tool.ps1"
        Import-Module '..\appveyor-tool.ps1'

install:
  ps: Bootstrap

# Adapt as necessary starting from here
#
environment:
  CODECOV_TOKEN:
    secure: JHKRuudDMdMjmYdGU/oXAT+0iiwOLiTjMoJHlzA/BxbJfosom9XUnGxRSJn1y6/T

build_script:
  - travis-tool.sh r_binary_install igraph jsonlite rex devtools httr testthat crayon shiny digest stringdist
  - travis-tool.sh install_github jimhester/lintr
  - travis-tool.sh install_deps

test_script:
  - travis-tool.sh run_tests

on_failure:
  - travis-tool.sh dump_logs

on_success:
  - perl -i -pe 's/\bcovr\b/covrShim/g;s/\breassign_function\b/reassign_function_shim/g;s/\bduplicate_\b/duplicate_shim/g' DESCRIPTION NAMESPACE R/* src/* tests/*R tests/testthat/*R
  - Rscript -e 'devtools::install()'
  - Rscript -e 'library(covr);codecov()'

artifacts:
  - path: '*.Rcheck\**\*.log'
    name: Logs

  - path: '*.Rcheck\**\*.out'
    name: Logs

  - path: '*.Rcheck\**\*.fail'
    name: Logs

  - path: '*.Rcheck\**\*.Rout'
    name: Logs

  - path: '\*_*.tar.gz'
    name: Bits

  - path: '\*_*.zip'
    name: Bits
